<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="keywords" content="项目管理系统"/>
    <meta name="description" content="项目管理系统" />
    <meta name="apple-mobile-web-app-title" content="项目管理系统">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
    <meta name="apple-mobile-web-app-capable" content="yes"  />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no"  />
    <title>项目管理系统－登录</title>
    <!--Bootstrap基础样式[ REQUIRED ]-->
    <link rel="stylesheet" href="/css/bootstrap.css" >
    <link rel="stylesheet" href="/css/nifty.css" >
    <link rel="stylesheet" href="/css/nifty-demo.css" >
    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="/js/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
    <!--jQuery [ REQUIRED ]-->
    <script src="/js/base/jquery-2.2.4.min.js"></script>
    <!--bootstrapValidator [ OPTIONAL ]-->
    <link href="/js/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
    <script src="/js/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <!--页面修改样式by－cqy[ REQUIRED ]-->
    <link rel="stylesheet" href="/css/demo.css" >
    <!--页面通用方法by－cqy [ REQUIRED ]-->
    <script src="/js/plugin.js"></script>
    <script>
        $(document).ready(function() {
            var $imgHolder 	= $('#demo-bg-list');
            var $bgBtn 		= $imgHolder.find('.demo-chg-bg');
            var $target 	= $('#bg-overlay');
            var imgbg= $.fn.dataHander.getItem("imgBg");
            $bgBtn.removeClass('active');
            $bgBtn.eq(imgbg.index).addClass('active');
            $bgBtn.on('click', function(e){
                var $el = $(this);
                $imgHolder.addClass('disabled');
                var url = $el.attr('src').replace('/thumbs','');

                $('<img/>').attr('src' , url).load(function(){
                    $target.css('background-image', 'url("' + url + '")').addClass('bg-img');
                    $imgHolder.removeClass('disabled');
                    $bgBtn.removeClass('active');
                    $el.addClass('active');
                    $.fn.dataHander.setItem("imgBg",{index:$el.index()-1,url:url});
                    $(this).remove();
                })

            });
        });
    </script>
</head>
<body>
<div id="container" class="cls-container loginpage">

    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->
    <script>
        var imgbg= $.fn.dataHander.getItem("imgBg");
        if(!imgbg)
        {
            var defaultVal={index:0,url:"/img/bg-img/thumbs/bg-img-1.jpg"};
            $.fn.dataHander.setItem("imgBg",defaultVal);
            imgbg= defaultVal;
        }
        document.write('<div id="bg-overlay" class="bg-img" style="background-image:url('+imgbg.url+')"></div>')
    </script>

    <!-- LOGIN FORM -->
    <!--===================================================-->
    <div class="cls-content">
        <div class="cls-content-sm panel">
            <div class="panel-body">
                <div class="mar-ver pad-btm">
                    <p class="text-muted">做专业的项目管理系统！</p>
                </div>
                <form  id="config-form" class="form-horizontal">
                    <div class="form-group">
                        <input type="text" class="form-control" id="UserName" name="UserName" placeholder="用户名" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="UserPwd" name="UserPwd" placeholder="密码" autocomplete="off">
                    </div>
                    <div class="checkbox pad-btm text-left">
                        <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
                        <label for="demo-form-checkbox">记住密码</label>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">登 录</button>
                </form>
            </div>

            <!--                    <div class="pad-all">
                                    <div class="media pad-top bord-top">
                                        <div class="pull-right">
                                            <a href="#" class="pad-rgt"><i class="demo-psi-facebook icon-lg text-primary"></i></a>
                                            <a href="#" class="pad-rgt"><i class="demo-psi-twitter icon-lg text-info"></i></a>
                                            <a href="#" class="pad-rgt"><i class="demo-psi-google-plus icon-lg text-danger"></i></a>
                                        </div>
                                        <div class="media-body text-left">
                                            关联登录
                                        </div>
                                    </div>
                            </div>-->
        </div>
        <p style="color: #fff; margin-top: 50px;">Copyright© 2017 版权所有</p>
        <p style="color: #fff; ">菠萝工作室</p>
    </div>
    <!--===================================================-->
    <!-- DEMO PURPOSE ONLY -->
    <!--===================================================-->
    <div class="demo-bg">
        <div id="demo-bg-list">
            <div class="demo-loading"><i class="psi-repeat-2"></i></div>
            <!--		        <img class="demo-chg-bg bg-trans active" src="img/bg-img/thumbs/bg-trns.jpg" alt="Background Image">-->
            <img class="demo-chg-bg active" src="/img/bg-img/thumbs/bg-img-1.jpg" alt="Background Image">
            <img class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-2.jpg" alt="Background Image">
            <img class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-3.jpg" alt="Background Image">
            <img class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-4.jpg" alt="Background Image">
            <img class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-5.jpg" alt="Background Image">
            <img class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-6.jpg" alt="Background Image">
            <img class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-7.jpg" alt="Background Image">
        </div>
    </div>
    <!--===================================================-->
</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
<script type="text/javascript">
    $(document).ready(function () {
        //配置验证
        $('#config-form').xValidator({
            fields: {
                UserName: {
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        }
                    }
                },
                UserPwd: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }
                    }
                }
            },
            submitSuccess: function (e) {

                var onSucess=function(data){
                    window.location.href="/";
                }
                var onfail=function(res)
                {
                    //$('#config-form').data('bootstrapValidator').g("UserName", 'NOT_VALIDATED').validateField("UserName");
                }
                var name=$("#UserName").val(),pwd=$("#UserPwd").val();
                $.fn.ajaxHandler({url: '/User/Login',data:{username:name, password:pwd}}).done(onSucess).fail(onfail);
            }
        });
    });
</script>
</body>
</html>

