<!--MAIN NAVIGATION-->
<!--===================================================-->
<nav id="mainnav-container">
    <div id="mainnav">

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">
                    <ul id="mainnav-menu" class="list-group">

                        <!--Category name-->
                        <!--  <li class="list-header">Components</li>-->
                        <!--Menu list item-->
                        <li>
                            <a href="javascript:;">
                                <i class="iconfont">&#xe60e;</i>
                                <span class="menu-title">项目管理</span>
                                <i class="arrow"></i>
                            </a>
                            <!--Submenu-->
                            <ul class="collapse">
                                <li><a href="javascript:;" src="/project">项目类型管理</a></li>
                                <li><a href="javascript:;" src="/gantt">项目信息管理</a></li>
                                <li><a href="javascript:;" src="/test">项目进度计划</a></li>
                                <li><a href="/project">项目信息填报</a></li>
                                <li><a href="/project">项目文档汇总</a></li>
                                <li><a href="/project">项目日志查看</a></li>
                                <li><a href="/project">项目问题查看</a></li>
                            </ul>
                        </li>
                        <!--Menu list item-->
                        <li>
                            <a href="javascript:;">
                                <i class="iconfont">&#xe60e;</i>
                                <span class="menu-title">合同管理</span>
                                <i class="arrow"></i>
                            </a>

                            <!--Submenu-->
                            <ul class="collapse">
                                <li><a href="/project">工程合同管理</a></li>
                                <li><a href="/project">分包合同管理</a></li>
                                <li><a href="/project">采购合同管理</a></li>
                                <li><a href="/project">应收合同总汇</a></li>
                                <li><a href="/project">应付合同总汇</a></li>
                                <li><a href="/project">合同收款计划</a></li>
                                <li><a href="/project">合同付款计划</a></li>
                                <li><a href="/project">合同收款</a></li>
                                <li><a href="/project">合同付款</a></li>
                                <li><a href="/project">合同变更管理</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="iconfont">&#xe60e;</i>
                                <span class="menu-title">系统管理</span>
                                <i class="arrow"></i>
                            </a>
                            <!--Submenu-->
                            <ul class="collapse">
                                <li><a href="/project">角色管理</a></li>
                                <li><a href="/project">用户管理</a></li>
                                <li><a href="/project">用户审核</a></li>
                                <li><a href="/project">角色配置</a></li>
                                <li><a href="/project">个人信息查看</a></li>
                                <li><a href="/project">密码修改</a></li>
                            </ul>
                        </li>
                    <!--   <li class="list-divider"></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>
<!--===================================================-->
<!--END MAIN NAVIGATION-->

